-var titulo="Titulo Principal."
doctype html
html
	head
		meta 
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames	
		section.intro 
			.intro__imagen: img(src="./images/imagen.png").
			.intro__contenido 
				h2 titulo principal 
				p 
					| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt modi doloribus nam unde 
					| excepturi quos nemo eaque id, aperiam eveniet laboriosam. 
					span nesciunt quisquam, architecto sed similique! Architecto, minus ipsam. Magnam?
				a.boton Registro